<div class="container" style="margin-left: -15px;">
  <div class="row">
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px">
              <a routerLink='agriculture'>Agriculture</a>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">

            <button type="button" class="btn btn-success" style="width: 100px">
              <a routerLink='cultural'>Cultural</a>
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='employment'>Employment</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='education'>Education</a></button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='emergency'>Emergency</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='environment'>Environment</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='legal'>Legal</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='medical'>Medical</a></button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='msme'>MSME</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='news-media'>News Media</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='social-media'>Social Media</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='training'>Training</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='transportation'>Transportation</a></button>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-2 col-lg-3">
      <div class="thumbnail" style="background-color:rgb(54, 59, 116)">
        <div class="caption">
          <p style="text-align:center">
            <button type="button" class="btn btn-success" style="width: 100px"><a routerLink='Tourism'>Tourism</a></button>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>