<div class="container">
    <div class="container">
        <div class="row" class="header1">
            <div class="container">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        
                        <div class="container" class="navbar1">
                            <a class="navbar-brand" href="#">NAMMA BIDAR</a>

                        </div>
                    </nav>
                    <!-- <div class="col-md-8 col-xs-12 col-sm-6" class="bannar1">
                        <h1>ನಮ್ಮ ಬೀದರ ಕ್ಷೇಮಾಭಿವೃದ್ಧಿ ಸಂಸ್ಥೆ
                            <br>NAMMA BIDAR WELFERE ASSOCIATION</h1>
                        <br>
                    </div>-->
                </div>

            </div>
        </div>
    </div>



    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" routerLink="All">
                        <img alt="" src="app/images/home.PNG" width="50px" height="30px">
                    </a>-->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">

                        <li>
                            <a routerLink="home">Home</a>
                        </li>
                        <li>
                            <a routerLink="about">About</a>
                        </li>
                        <li>
                            <a routerLink="history">History</a>
                        </li>
                        <li>
                            <a routerLink="gallery">Gallery </a>
                        </li>
                        <li>
                            <a routerLink="activities">Activities
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="contactus">Contact US</a>
                        </li>

                    </ul>

                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>

    <div class="container" id="footer">
        <footer class="footer">
            <div class="footer-meta">
                <div class="container text-center">
                    <div class="clearfix">
                        <ul class="social-line list-inline">
                            <li data-animation="flipInY" data-animation-delay="100">
                                <a href="#" class="btn btn-primary" role="button">Facebook</a>
                            </li>
                            <li data-animation="flipInY" data-animation-delay="200">
                                <a href="#" class="btn btn-info" role="button">Twitter</a>
                            </li>
                            <li data-animation="flipInY" data-animation-delay="300">
                                <a href="#" class="btn btn-danger" role="button">Google+</a>
                            </li>
                            <li data-animation="flipInY" data-animation-delay="300">
                                <a href="#" class="btn btn-danger" role="button">YouTube</a>
                            </li>
                            <!--<li data-animation="flipInY" data-animation-delay="400"><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                   <li data-animation="flipInY" data-animation-delay="500"><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li data-animation="flipInY" data-animation-delay="600"><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li data-animation="flipInY" data-animation-delay="700"><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>-->
                        </ul>
                    </div>
                    <span class="copyright" data-animation="fadeInUp" data-animation-delay="100" style="color: white">&copy; 2017 Namma Bidar Welfere Association, Bengaluru </span>
                </div>
            </div>
        </footer>
    </div>
</div>